<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/index.css">
  </head>
  <body>
  	<div class="container">
		 <ul>
			<% for(var i=0; i<list.length; i++) {%>
			   <li>
			   		<p><h4><%= list[i].title %></h4></p>
					<p><%= list[i].content %></p>
			   </li>
			<% } %>
		</ul>
  	</div>
  </body>
</html>